body {
    background-color: #ffdeeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#painel {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
}

img {
    width: 150px;
    border-radius: 10px;
}

h1 {
    color: #d63384;
    font-size: 1.5rem;
}

.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
    height: 50px;
}

button {
    padding: 10px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#sim {
    background-color: #4caf50;
    color: white;
    position: relative; 
    z-index: 10;      
}

#nao {

    background-color: #af4c4c;
    transition: left 0.2s ease, top 0.2s ease;
    z-index: 999; 
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    touch-action: manipulation; 
}

